<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">GITHUB CLIENT</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="#" [routerLink]="['add-gists']">DODAWANIE GISTÓW</a>
      </li>
      <li class="navbar-item">
        <a class="nav-link" href="#" [routerLink]="['edit-gists']">EDYCJA GISTÓW</a>
      </li>
      <li class="navbar-item">
        <a class="nav-link" href="#" [routerLink]="['delete-gists']">USUWANIE GISTÓW</a>
      </li>
      <li class="navbar-item">
        <a class="nav-link" href="#" [routerLink]="['listing-gists']">LISTING GISTÓW</a>
      </li>
      <li class="navbar-item">
        <a class="nav-link href='#" [routerLink]="['info']">INFO</a>
      </li>



    </ul>

  </div>
</nav>
