<div class="container-fluid">
<div class="card">
  <div class="card-header">
    DODAWANIE GISTOW:
  </div>
  <div class="card-body">
    <form>
      <div>

      <div class="col-md-12 form-group">
        <label class="col-md-12 col-form-label">Opis Gista:</label>
        <input type="text" class="form-control"  name="gistDescription" placeholder="dodaj opis gista" [(ngModel)]="gistDescription">
      </div>

      <div class="col-md-12 form-group">
        <label class="col-md-12 col-form-label">Nazwa Pliku:</label>
        <input type="text" class="form-control" name="gistName" placeholder="podaj nazwę pliku" [(ngModel)]="gistName">
      </div>

      <div class="col-md-12 form-group">
        <label class="col-md-12 col-form-label">Zawartość Pliku:</label>
        <input type="text" class="form-control" name="gistContent" placeholder="wprowadź zawartość pliku" [(ngModel)]="gistContent">
      </div>

        <div class="col-md-12 form-group">
          <label class="col-md-12 col-form-label">Czy Gist ma być publiczny?</label>
          <div class="custom-control custom-checkbox">
            <div class="custom-control custom-checkbox">
              <input type="checkbox" class="custom-control-input" id="public1" name="public1" [(ngModel)]="gistPublic">
              <label class="custom-control-label" for="public1">Tak</label>
            </div>
          </div>
        </div>



      <button type="submit" class="btn btn-dark" (click)='addGist()'>DODAJ GIST</button>
        {{gistAdd | async}}

      </div>
    </form>
  </div>
</div>
</div>
